	.custom-select {
		display: inline-block;
	  padding: 4px 8px;
	  line-height: 1.5;
	  border-radius: 0.25rem;
	  border: none;
	  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	  height: 30.5px;
	}
	
	.band-invisible {
		display: none;
		position: absolute;
		top: 10px;
		left: 50%;
		right: 50%;
		top: 8px;
		text-align: center;
		z-index: 25;
		overflow: visible;
		margin-left: -52px;
	}
	
	.navbar2 {
		margin-bottom: 30px;
		margin-right: 0.9325rem;
		margin-left: 0.9325rem;
	}
	
	.pagination {
		padding: 4px 8px;
		height: 30.5px;
	}
	
	.pagination li {
		display:inline;
		margin: 1px;
	}
	
	.drop-perfil {
		width:200px;
		position: absolute;
		top: 0;
		left: 125px;
		z-index: 25;
	}
	
	.drop-buscar {
		width:250px;
		position: absolute;
		top: -30px;
		right: 14px;
		z-index: 25;
	}
	
	.filtros {
		margin: 0.425rem 0;
		color: black;
	}
	.filtros a:hover {
		color: grey;
	}
	.filtros a {
		color: black;
		margin-bottom: -2.425px;
	}
	
	.menuDes {
		display: none;
	}

	.navbar-light .navbar-nav .nav-link {
		color: black;
	}
	.navbar-light .nav-item:hover {
		color: blue;
	}
	
	.nav button {
		margin: 0;
	}
	.navbar-nav .nav-link + .nav-link {
		margin-left: 0;
	}
	
	


@media only screen and (max-width:544px) {
	.band-visible {
		display: none;
	}
	
	.band-invisible {
		display: block;
	}
	
	.down {
		margin-top: 50px;
	}
	
	.drop-perfil {
		top: -140px;
		left: 15px;
	}
}